/* Page Sytling */
* {
    font-family: 'PT Mono', monospace;
}
body {
    background-color:#2C2C34;
}
header h1 {
    color: #D8D8F6;
    text-align: center;
}

/* Navigation Bar Styling */
.navbar{
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.navbar{
    position: sticky;
    top:0;
}
.navbar .menu{
    display: block;
    font-size: 17px;
    font-weight: 500;
}
.navbar .menu li{
    list-style: none;
    display:inline-block;
}
.navbar .menu li a{
    color: white;
}
.navbar .menu li a:hover{
    color: #B18FCF;
    font-size: 20px;
}
/* About This Page Styling */
h2 {
    text-decoration: underline;
}
.box {
    border-style:dotted;
    border-color:white;
    border-width:7px;
    border-radius:unset;
    padding:30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#list li{
    margin: auto;
    position: static;
}

/* Journal Entry Styling */
#entry1, #entry2, #entry3 {
    margin: 10px 10px 10px 10px;
    position: relative;
}
#entry1:active, #entry2:active, #entry3:active {
    background-color: white;
}
ol[type="A"] {
    list-style-type: lower-alpha;
    background:#2C2C34;
    color: white;
}
div p {
    color:#2C2C34;
}
div > h2 {
    color:#2C2C34;
}
div + h3 {
    font-style: italic;
}
p ~ ul {
    font-style: initial;
}
/* Create Styling */
